h1,h3{
	color: white;
}

h1{
	margin-top: 50px;
}
.navbar-brand{
	width: 10%;
	height: 100%;
}
/* make sidebar nav vertical */
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
	.sidenav {
		height: 720px;
		padding-top: 250px;
	}
}

#map{
    width: 80%;
    height: 720px;
    margin-bottom: 0px;
}

.black{
	background-color: black;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
